.popup{
    background-color: rgba(127, 127, 127, 0.3);
    position: fixed;
    top: 0px;
    bottom: 0px;
    right:0px;
    left: 0px;
    display: none;
    justify-content: center;
    align-items: flex-start;
}
.popup-box{
    background-color: white;
    padding: 20px;
    box-shadow: 2px 2px 4px gray;
    width: 400px;
    border-radius: 10px;
    margin-top: 100px;
}
.popup-box > div{
    display: flex;
    gap: 20px;
}
.btns{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.yes{
    align-self: center;
}
.test:hover + .popup{
    display: flex;
}